<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenfengtou.whiteboard">

    <application>
        <activity
            android:screenOrientation="landscape"
            android:name=".WhiteBoardActivity"/>

        <service android:name=".service.FloatingService"/>
    </application>

</manifest>